body {
    background-color: black;
    margin: 0%;
    padding: 0%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    background-color: white;
    width: 70%;
    height: 100vh;

    display: flex; 

}

.whiteFont {
    color: rgb(133, 131, 255);
    font-weight: bold;
    font-style: italic;
}

.left-side {
    width: 40%;
    height: 100%;
   background-image: url('/space.jpg');
   background-position: center;
   background-size: cover;
}
#transparent {
    background-color: rgba(0, 0, 0, 0.3);
    height: 150px;

    position: relative;
    top: 100px;
}
img {
    position: relative;
    left: 70px;

    height: 150px;
    width: 70%;

}

.right-side {
    background-color: rgb(221, 221, 221);
    width: 70%;

}

/* UPPER PART */ 
.upper{
    background-color: rgb(233, 239, 255);
    height: 35vh;

    display: flex;
    flex-direction: column;
    justify-content: end;

    padding-left: 20px;
    padding-right: 20px;
}
 .upper p{
     font-weight: bold;
 }

/* MIDDLE PART  */
.middle{
    background-color: white;
    height: 30vh;

    padding-left: 10px;
    font-size: 0.7rem;

    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-top: 20px;
    gap: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.middle #middle-heading{
    margin: 0px;
    font-size: 1rem;
}
.form-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    gap: 15px;
}
.form-left{
    width: 40%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-item-div{
    display: flex;
    flex-direction: column;
}
.form-right{
    width: 40%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    width: 180px;
    height: 20px;

    border-radius: 0.3rem;
    border: 2px solid #dee9ff;

    font-size: 0.7rem;
    padding-left: 5px;
}
input:focus{
    border-color: blue;
}

input[type="password"]:invalid{
    border-color: red;
}

/* LOWER PART */
.lower{
    background-color: rgb(233, 239, 255);
    height: 225px;

}

button {
    height: 50px;
    width: 200px;

    border-radius: 10px;
    border: 0px;

    background-color: rgb(22, 29, 71);
    color: white;
}

.lower-div {
    position: relative;
    left: 30px;
    top: 20px;
}

.blueFont {
    color: rgb(22, 29, 71);
    font-weight: bold;
}