body {
    background-color: black;
    margin: 0%;
    padding: 0%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 70%;
    height: 100vh;

}

.left-side {
    width: 40%;
    height: 100%;
   background-image: url('/space.jpg');
   background-position: center;
   background-size: cover;
}
#transparent {
    background-color: rgba(0, 0, 0, 0.3);
    height: 150px;

    position: relative;
    top: 150px;
}
img {
    position: relative;
    left: 70px;

    height: 150px;
    width: 70%;

}

/* .right-side {
    background-color: aqua;
    width: 70%;
} */
